html{
    --color-1: #F26A2E;
    --color-2: #077BF1;
}

.button {
    background: var(--color-1);
    padding: 16px 40px;
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
    min-width: 100px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s !important;
    border-radius: 50px;
    margin: 50px 50px 50px 50px;
}

.button:hover{
    background: var(--color-2);
    transform: translateY(-2px);
}

.button2 {
    background: var(--color-2);
    padding: 16px 40px;
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
    min-width: 100px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s !important;
    border-radius: 50px;
    margin: 50px 50px 50px 50px;
}

.button2:hover{
    background: var(--color-1);
    transform: translateY(-2px);
}