html{
    --color-1: #F26A2E;
    --color-2: #077BF1;
}

.emergencyContainer{
    min-height: 65vh;
    padding-top: 5rem calc((100vw - 1300px) / 2);
    padding-right: 5rem calc((100vw - 1300px) / 2);
    padding-left: 5rem calc((100vw - 1300px) / 2);
    padding-top: 4rem;
}

.textWrapHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5rem;
}

.heading{
    font-size: clamp(1.2rem, 5vw, 3rem);
    text-align: center;
    color:var(--color-1);
    padding-right: 1rem;
    font-weight: 600;
}

.emergencyWrapperLeft{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
}

.emergencyWrapperRight{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;
}

.content{
    z-index: 3;
    height: 60vh;
    max-height: 100%;
    padding: 2rem;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    max-height: 100%;
    padding: 0;
    color: #fff;
    line-height: 1.1;
    font-weight: bold;
}

.items p{
    color:black;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    margin-bottom: 2rem;
    padding-right: 1.5rem;
    font-weight: 150;
    
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    color:black;
    font-size: clamp(1rem, 2vw, 2rem);
    margin-bottom: 1.5rem;
    padding-right: 3rem;
    font-weight: 300;
}