html{
    --color-1: #F26A2E;
    --color-2: #077BF1;
}

.animalContainer{
    min-height: 100vh;
    padding: 5rem calc((100vw - 1300px) / 2);
}

.heading{
    font-size: clamp(1.2rem, 5vw, 3rem);
    text-align: center;
    margin-bottom: 3rem;
    color: var(--color-1);
}

.animalWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
}

.columnOne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

h2{
    padding-bottom: 2rem;
}