.container{
    min-height: 100vh;
    padding: 5rem calc((100vw - 1300px) / 2);
}

.columnOne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
}

.columnTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    padding-bottom: 2rem;
}