.productsContainer{
    min-height: 100vh;
    color: #fff;
    padding: 5rem calc((100vw - 1300px) / 2);

    border-color: red;
    border-style: solid;
}

.heading{
    font-size: clamp(1.2rem, 5vw, 3rem);
    text-align: center;
    margin-bottom: 3rem;
    color: #000;

    border-color: blue;
    border-style: solid;
}

.logo{
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    margin-bottom: 1rem;
    color: #000;

    border-color: blue;
    border-style: solid;
}

.input{
    position: relative;
}

.inputText{
    display: block;
    margin: 0;
    padding: 0.8rem 1.6rem;
    color: black;
    width: 100%;
    font-family: inherit;
    font-size: clamp(0.7rem, 3vw, 1.1rem);
    font-weight: inherit;
    line-height: 1.2;
    border: solid;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
}

.inputText::placeholder {
    color: #B0BEC5;
}

.inputText:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.3rem black;
}

.inputDiv{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 2.3rem;
}

.productWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    padding: 0 2rem;
    margin-top: 1rem;

    border-color: pink;
    border-style: solid;
}

.productCard{
    width: 100%;
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 10px;
    transition: 0.2s ease;

    border-color: purple;
    border-style: solid;
}

.productInfo{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    max-width: 100%;
}

.textWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 0px; 

    border-color: red;
    border-style: solid;
}

.productTitle{
    font-weight: 400;
    font-size: 1rem;
    margin-left: 0.5rem;

    border-color: red;
    border-style: solid;
}

.productDescription{
    position: absolute;
    top: 50px;

    border-color: blue;
    border-style: solid;
}

.button{
    position: absolute;
    top: 100px;

    border-color: red;
    border-style: solid;
}

