.container{
    background: gray;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 1rem;
    color: #fff;
    border-radius: 20px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 1rem 0rem 1rem;
}

.namediv{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
}

.emaildiv{
    display: flex;
    align-items: center;
    justify-items: center ;
    margin-bottom: 15px;
}

.subjectdiv{
    display: flex;
    align-items: center;
    justify-items: center ;
    margin-bottom: 15px;
}

.messagediv{
    display: flex;
    align-items: center;
    justify-items: center;
}

.buttondiv{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.name{
    margin: 5px;
}
.email{
    margin: 5px;
}
.subject{
    margin: 5px;
}
.message{
    margin: 5px;
}
.button{
    background: #F26A2E;
    padding: 16px 40px;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    min-width: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s !important;
    border-radius: 50px;
    margin-top: 20px;
}
