html{
    --color-1: #F26A2E;
    --color-2: #077BF1;
  }

.footerContainer{
    padding: 5rem calc((100vw - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fffdfa;
    border-top: 3px var(--color-1) solid;
    border-bottom: 3px var(--color-1) solid;
    border-radius: 10px;
    margin-bottom: 1rem;

}

.footerDesc{
    padding: 0 2rem;
}

.footerDesc h1{
    margin-bottom: 3rem;
    color: #f26a2e;
}

.footerLinksWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footerLinkItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}

.footerLinkItems h2{
    font-size: 14px;
    margin-bottom: 16px;
}



@media screen and (max-width: 600px){
    .footerDesc{
        padding: 1rem;
        color: red;
    }
    .footerLinkItems{
        padding: 1rem;
    }  
}

@media screen and (max-width: 820px){
    .footerLinksWrapper{
        grid-template-columns: 1fr;
    }
    
}
