html{
    --color-1: #F26A2E;
    --color-2: #077BF1;
}

.container {
    background: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 1rem;
    position: relative;
    margin-top: -80px; 
    color: #fff;
}

.divBg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videoBg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.content{
    z-index: 3;
    height: calc(100vh - 80px);
    max-height: 100%;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    max-height: 100%;
    padding: 0;
    color: #fff;
    line-height: 1.1;
    font-weight: bold;
}

.items h1{
    color: var(--color-1);
    font-size: clamp(1.5rem, 6vw, 4rem);
    margin-bottom: 1.5rem;
    letter-spacing: 3px;
    padding-right: 5rem;
}

.items p{
    font-size: clamp(1rem, 3vw, 3rem);
    margin-bottom: 1.5rem;
    padding-right: 5rem;
    font-weight: 300;
}

@media screen and (max-width: 1300px){
    .items h1{
        padding-right: 0rem;
    }
    .items p{
        padding-right: 0rem;
    }
}