
html{
    --color-1: #F26A2E;
    --color-2: #077BF1;
}

.videoBg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.divBg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    background: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 1rem;
    position: relative;
    margin-top: -80px; 
    color: #fff;
}

.container ::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%), 
    linear-gradient(180deg,rgba(0,0,0,0.2) 0%, transparent 100%);
}